.imager {
}

.imager div.name
{
    text-align: center;
}

.imager textarea
{
    width: 400px;
    height: 400px;
    margin: 1em;
    font-size: x-large;
}

.imager input {
    font-size: x-large;
}

.imager canvas
{
    width: 400px;
    height: 400px;
    margin: 1em;    
}

.imager .map
{
    margin-left: 1em;
    float: left;
    display: inline-block    
}

